<div id = "mobile">
<div style="background-image: url('images/headerbg.jpg');">
<h2 class= "logo"><img src="images/logo.png"></h2>
    <div id= menuoptions>
            <a href= "/"><img src="images/mainmenu.jpg" id= "menuimg"></a>
            <a href="/login"> <img src="images/login.jpg" id= "menuimg"></a>
            <a href="/registration"> <img src="images/signup.jpg" id= "menuimg"></a>
            <a href="/MealPkg"> <img src="images/mealpkg.jpg" id= "menuimg"></a>
        </div>
        </div>
          </br>
<body>
  <div class="herodiv">
<img src="images/hero.png" id= "hero">
</div>

<h3 id="maintitle">Our Moto!</h3>
<div id="left">
<p id="mainpar">We strive to bring our customers the best service ever and everyone apreciates
  it so much. This company is cool. Look! Pick, heat, eat, repeat! What more could
  you ever want from a service ever! Sugoi desu!!!
</p>
</br></br>
<h3 id="maintitle">About Us!</h3>
<p>Look at this paragraph if you wish to learn more about us and our company
 we are cool and there is a lot of information to put in this section so keep
 reading. But enough about us, tell us about you and we'll have a meal plan 
 put together for you in no time to make you healthy and as cool as our company
 which I'm not sure if I've already told you this but we are really cool!
</p>
</br></br></br></br></br>
</div>
<div id="right">
  <img src="images/morefood.jpg" id= "rightimg">

</div>

<div id="menuitems">
<p id="topdeal">Our Top Deals!!!</p>
  
</div>


<div style="background-image: url('images/footer.png');" id="footer"> 
<footer >

<p id="foot">Our Moto! (Scroll up!!!)</p>
<p id="foot">About Us! (Scroll up!!!)</p>
<p id="foot">Contact Us! (Not available right now)</p>
</footer>

<div id= "socialmediafootdiv">
  <a href="https://www.facebook.com/"> <img src="images/facebook.jpg" id= "socialmediafoot"></a>
  <a href="https://twitter.com/"> <img src="images/twitter.png" id= "socialmediafoot"></a>
  <a href="https://www.instagram.com/"> <img src="images/instagram.jpg" id= "socialmediafoot"></a>
</div>
</div>
</body>
</div>