<div id = "mobile">
<div style="background-image: url('images/headerbg.jpg');">
<h2 class= "logo"><img src="images/logo.png"></h2>
    <div id= menuoptions>
            <a href= "/"><img src="images/mainmenu.jpg" id= "menuimg"></a>
            <a href="/login"> <img src="images/login.jpg" id= "menuimg"></a>
            <a href="/registration"> <img src="images/signup.jpg" id= "menuimg"></a>
            <a href="/MealPkg"> <img src="images/mealpkg.jpg" id= "menuimg"></a>
        </div>
        </div>

          </br>
<body>
<p>Sorry buddy, yer account is gone.</p>
</br></br></br></br></br></br></br>
 </br> </br> </br> </br></br> </br></br></br></br>
  </br> </br> </br> </br></br> </br></br></br></br>
   </br> </br> </br> </br></br> </br></br></br></br>
    </br> </br> </br> </br></br> </br></br></br></br></br>
<div style="background-image: url('images/footer.png');" id="footer"> 
<footer >

<p id="foot">Our Moto! (Scroll up!!!)</p>
<p id="foot">About Us! (Scroll up!!!)</p>
<p id="foot">Contact Us! (Not available right now)</p>
<div id= "socialmediafootdiv">
  <a href="https://www.facebook.com/"> <img src="images/facebook.jpg" id= "socialmediafoot"></a>
  <a href="https://twitter.com/"> <img src="images/twitter.png" id= "socialmediafoot"></a>
  <a href="https://www.instagram.com/"> <img src="images/instagram.jpg" id= "socialmediafoot"></a>
</div>
</footer>
</div>
</body>

</body>
</div>