 {{#if user.firstname}}
<div id = "mobile">
<div style="background-image: url('images/headerbg.jpg');">
<h2 class= "logo"><img src="images/logo.png"></h2>
    <div id= menuoptions>
            <a href= "/"><img src="images/mainmenu.jpg" id= "menuimg"></a>
            <a href="/registration"> <img src="images/signup.jpg" id= "menuimg"></a>
            <a href="/MealPkg"> <img src="images/mealpkg.jpg" id= "menuimg"></a>
                      {{#if user.firstname}}
            <a href="/logout"> <img src="images/out.jpg" id= "menuimg"></a>
            {{else}}
            <a href="/login"> <img src="images/login.jpg" id= "menuimg"></a>
            {{/if}}

        </div>
        </div>
          </br>
<body>
 </br>
</br>
<fieldset class= "loginfield">
                       
            <form method="POST" action="/Theupdate/{{this.id}}?method=PUT">
            <legend>Update Meal: </legend>
            <br>
            <label for="mealName" id="meal1">Meal Name:</label></br>
            <input type="text" id="email" name="mealName"></br></br>
            <br>
            <label for="mealDesc" id="meal3">Meal Description:</label></br>
            <input type="text" id="email" name="mealDesc"></br>
            <br>
                  <label for="mealPrice" id="meal2">Meal Price:</label></br>
            <input type="text" id="email" name="mealPrice"></br>
            <br>
            <label for="topPackage" id="meal4">Is this meal a top package? (Enter y if true):</label></br>
            <input type="text" id="email" name="topPackage" pattern="[yY]"></br>
            <br>
            <input id = "loginbutton" type="submit" name="submit" value="Update">

            </br></br></br></br></br></br></br>
            </form>
            </legend>
            </fieldset>

</br>
</br></br></br></br></br>
</br></br></br></br>
</br></br></br></br>
</br></br></br></br></br>
</br></br></br></br>
</br></br></br></br>
</br></br></br></br></br>
</br></br></br>


<div style="background-image: url('images/footer.png');" id="footer"> 
<footer >

<p id="foot">Our Moto! (Scroll up!!!)</p>
<p id="foot">About Us! (Scroll up!!!)</p>
<p id="foot">Contact Us! (Not available right now)</p>
</footer>

<div id= "socialmediafootdiv">
  <a href="https://www.facebook.com/"> <img src="images/facebook.jpg" id= "socialmediafoot"></a>
  <a href="https://twitter.com/"> <img src="images/twitter.png" id= "socialmediafoot"></a>
  <a href="https://www.instagram.com/"> <img src="images/instagram.jpg" id= "socialmediafoot"></a>
</div>
</div>
</body>
</div>
    {{else}}
    <p>Error you are not logged in!</p>
{{/if}}